body{
    background-color: black;
    font-family: Arial;
}

.cal-button{
    border:none;
    color: white;
    background-color: rgb(60, 58, 58);
    font-size: 25px;
    border-radius: 60px;
    height: 60px;
    width: 60px;
    margin-right: 4px;
}

.yellow-button{
    background-color: orange;
}
.clear-button{
    font-size: 18px;
}

.output{
    color:white;
    font-size: 50px;
    margin-bottom: 12px;
    margin-top: 2px;
}